body {
	width: 350px;
	margin: 10px;
}

li {
	background-color: #f4f4f4;
	width: 320px;
	height: 64px;
}

a {
	display: block;
	width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div {
	display: inline;
}
span {
	display: block;
}

button {
	margin: 15px auto;
}

.deleteRecord {
	position: absolute;
	background-color: #ff0000;
	border-radius: 5px;
	width: 15px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

.errorNotification {
	color: #ff0000;
}

#playList {
	list-style-type: none; 
	padding-inline-start: 20px; 
}